@scripts = {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/datepicker/bootstrap-datepicker.js")'></script>
    @*<script type='text/javascript' src='@routes.Assets.at("javascripts/canvasjs/canvasjs.min.js")'></script>*@
    <script type='text/javascript' src='@routes.Assets.at("javascripts/canvasjs/canvasjs.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/createCatch.js")'></script>
}


@main(scripts) {

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Place</label>
            <div class="col-md-5">
                <input data-bind="value: place" type="text" class="form-control" placeholder="place">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            <div class="col-md-5">
                <div class="input-group">
                    <input class="form-control datepicker">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Fish</label>
            <div class="col-md-5">
                <select data-bind="options: availableFishes, value: fish" class="form-control" ></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Day rating</label>
            <div class="col-md-5">
                <select data-bind="options: availableDayRatings, value: dayRating" class="form-control" ></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Hour rating 1</label>
            <span class="col-md-1">
                <select data-bind="options: availableHours, value: hourRatingStart1" class="form-control" ></select>
                </span>
            <span class="col-md-1">
                <select data-bind="options: availableHours, value: hourRatingEnd1" class="form-control" ></select>
            </span>
            <span class="col-md-1">
                <select data-bind="options: availableHourRatings, value: hourRating1" class="form-control" ></select>
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button data-bind="click: submit" class="btn btn-default">Submit</button>
            </div>
        </div>

        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>


    </form>

}
